name: 更新 md5
on:
  push:
    tags:
      - 'v*'

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
        with:
          submodules: 'true'
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.20'

      - name: Run Updater
        env:
          REILIA_SPS: ${{ secrets.REILIA_SPS }}
        run: |
          echo "ls ./"
          ls
          rm -rf Wife/*.go Wife/*.md Wife/.git
          echo "ls Wife/"
          ls Wife/
          go mod init updater
          sed -i '1,3d' main.go
          go mod tidy
          go run main.go
