name: 更新 md5
on:
  push:
    tags:
      - 'v*'

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.17'

      - name: Run Updater
        env:
          REILIA_SPS: ${{ secrets.REILIA_SPS }}
        run: |
          ls
          go mod init updater
          go mod tidy
          go run main.go
